{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Pagina Principal</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- dataTble -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"/>
 

  </head>
  <body>
    <div class="card">
      <img class="card-img-top" data-src="holder.js/100x180/?text=Image cap" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><button type="button" id="btn-get" class="btn btn-primary btn-lg">GET</button></h4>
      </div>
      <ul class="list-group list-group-flush" id="list-group">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
      </ul>
      <div class="items">
        <div class="left">
          <h6>Item no left 1</h6>
          <h6>Item no left 2</h6>
        </div>
        <div class="right">
          <h6>Item no right 1</h6>
          <h6>Item no right 2</h6>
        </div>
      </div>
    </div>


    <p id="testep">
    </p>
    
    <section>
      <table id="tabelaListar">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Idade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jonathas</td>
            <td>22</td>
          </tr>
          <tr>
            <td>Santos</td>
            <td>35</td>
          </tr>
        </tbody>
        </table>
      </section>
      


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"></script>
  </body>
</html>